<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Weather App</title>
  <link rel="stylesheet" href="/style/main.css">
</head>
<body>
  <div class="imgSize">
    <form action="/get-secret" method="POST">
        <label for="city">City:</label>
        <input list="cities" name="city" id="city">
        <datalist id="cities">
          <option value="Amman">
          <option value="London">
          <option value="Tokyo">
        </datalist>
        <button type="submit">Check Weather</button>
      </form>
  </div>

  <div class="weatherResult">
          <p><%= content %></p>

  </div>
</body>
</html>
